name: Security Scans (SAST, SCA & Trivy)

on:
  pull_request:
  push:

jobs:
  sast:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run SAST scan
        uses: docker://docker.io/fluidattacks/sast:latest
        with:
          args: sast --strict scan config.yaml
          
      - name: Upload SAST CSV results
        uses: actions/upload-artifact@v4
        with:
          name: Fluid-Attacks-Results
          path: Fluid-Attacks-Results.csv

  sca:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run SCA scan
        uses: docker://docker.io/fluidattacks/sca:latest
        with:
          args: sca --strict scan .

  trivy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner (filesystem)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true